<mat-toolbar>
    <mat-toolbar-row>
        <a class="nav-link" href="/">
            <img src="./assets/images/benraz-logo.png" height="35" class="d-inline-block align-top"
                alt="benraz-logo">
        </a>
    </mat-toolbar-row>
</mat-toolbar>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <mat-card>
                <mat-card-title color="accent">
                    <h2>Welcome to Authorization server</h2>
                    <img src="./assets/images/authorization-logo.png" height="250" class="d-inline-block align-top"
                        alt="authorization-logo">
                </mat-card-title>

                <div class="d-flex justify-content-center" *ngIf="isLoading">
                    <mat-spinner diameter="50"></mat-spinner>
                </div>

                <mat-card-content *ngIf="!isLoading">
                    <button mat-raised-button class="primary" type="button" (click)="login()">
                        LOGIN
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
