@import "/src/colors.scss";

.mat-card-title {
    text-align: center;
    padding: 24px;
}

h2,
.h2 {
    margin-bottom: 24px;
}

.login-button{
    background-color: $primary-color !important;
    color: $white !important;
    padding: 1rem 1.5rem !important;
    width: 100% !important;
    border-radius: 0.75rem;
    line-height: 1.5;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 50px;
    width: 20%;
}
