.mat-expansion-panel {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
}

.mat-expansion-panel-spacing {
    margin: 0 -16px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-radius: 0;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0;
}

.mat-checkbox {
    align-self: center;
}
