.mat-expansion-panel {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
}

.mat-expansion-panel-spacing {
    margin: 0 -16px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-radius: 0;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0;
}

.mat-mdc-checkbox {
    align-self: center;
}

.mat-mdc-tab-group{
    .mat-mdc-tab-header{
        border-bottom: 1px solid rgba(0,0,0,0.12);
        .mat-mdc-tab{
            flex-grow: 0 !important;
        }
    }
}