$primary-color: #0d6efd;
$primary-color-light: #3949ab;
$primary-color-dark: #303f9f;
$link-color: #3f51b5;
$link-color-hover: #303f9f;
$gray: #787E8E;
$white: #ffffff;

$black-87-opacity: rgba(0, 0, 0, 0.87);
$white-87-opacity: rgba(255, 255, 255, 0.87);

$app-indigo: (
    50: #e7e9f1,
    100: #c3c9dd,
    200: #9ca6c5,
    300: #7683ae,
    400: #5a699e,
    500: #6e3df7,
    600: #b5b8ed,
    700: #6e3df7,
    800: #6e3df7,
    900: #6e3df7,
    A100: #bcf0da,
    A200: #8de6c2,
    A400: #00d398,
    A700: #00a66a,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$app-red: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #dc3546,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);
